@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}
a {
    color: #000;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
/* header section start here */

.hero-banner {
    padding-right: 0px;
    padding-left: 0px;
}
.header-navigation {
    background-color: #272727;
    border-radius: 0px;
    padding: 40px 0;
    margin-bottom: 0px;
}
.navigation-menu li a {
    color: #878787;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    font-family: "Signika", "Lato", "Trebuchet MS", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
.navigation-menu {
    margin-top: 10px;
}
.navigation-menu li a:hover,
.navigation-menu li a:focus {
    background: none;
    color: #ff6e49;
}
.navbar-header img {
    /* width: 70px; */
}
.res-button {
    color: #fff;
    padding: 7px;
    background: #ff6e49;
}
.res-button:hover,
.res-button:focus,
.res-button.focus {
    color: #fff;
    padding: 7px;
    background: #ff6e49;
}
.navbar-toggle {
    margin-top: 28px;
}
@media (max-width: 768px) {
    .navigation-menu li a:hover {
        background: #ff6e49;
        color: #fff;
    }
    .navbar-header img {
        margin-left: 15px;
        margin-bottom: 15px;
    }
    .navigation-menu li a {
        padding: 22px 15px;
        text-align: center;
        color: #878787;
        font-size: 14px;
        font-weight: bold;
    }
    .header-navigation {
        padding: 15px 0;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1000px;
        margin: 0px auto;
    }
}
/* header section end here */
/* slider section start here */
.bg-img-1 {
	background-image:url("../images/h-slider-1.jpg");
	height: 400px;
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
	max-width: 100%;
	padding-right: 0px;
	padding-left: 0px;
}
.bg-img-2 {
	background-image:url("../images/h-slider-2.jpg");
	height: 400px;
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
	max-width: 100%;
	padding-right: 0px;
	padding-left: 0px;
}
.bg-img-3 {
	background-image:url("../images/h-slider-3.jpg");
	height: 400px;
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
	max-width: 100%;
	padding-right: 0px;
	padding-left: 0px;
}
.main-banner-heading-a {
    background: #ff6e49;
    text-align: center;
    padding: 10px;
	color: #fff;
}
.main-banner-heading-b {
    background: #ff6e49;
    text-align: center;
    padding: 10px;
	color: #fff;
}
.main-banner-heading-c {
	position: relative;
    color: #fff;
    display: inline-block;
    top: 137px;
    left: 324px;
    text-align: center;
	font-size: 30px;
	font-family: "Signika", "Lato", "Trebuchet MS", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
.main-banner-heading-c p span {
	color: #ff6e49;
}
.banner-pad-in {
	padding: 35px;
	padding-top: 40px;
}
.sec-bg-black {
    background-image: url("../images/bg-light-bk.jpg");
    min-height: 370px;
    background-repeat: no-repeat;
    background-color: #f8f8f8;
}
.banner-sec-bg {
    /* background-image: url("../images/banner-sec-bg.png"); */
    /* min-height: 490px; */
    /* background-repeat: no-repeat; */
    /* background-position: top; */
    
    background-color: #f8f8f8;
}
.banner-img img {
    padding-top: 40px;
	margin-right: 0px!important;
    margin-left: 0px !important;
	margin: 0px auto!important;
}
.banner-img ul li {
    list-style: disc;
    margin-left: 20px;
    font-size: 17px;
}
.banner-img h1 {
    color: #383838;
    font-size: 29px;
    font-family: "Signika", "Lato", "Trebuchet MS", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
.sec-btm-pad {
    padding-bottom: 30px;
}

@media screen and (max-width: 991px) and (min-width: 320px) {
	.bx-wrapper .bx-pager,
    .bx-wrapper .bx-controls-auto {
        position: absolute!important;
        bottom: 10px!important;
        width: 100%!important;
        right: 86%!important;
    }
}
@media screen and (max-width: 1200px) and (min-width: 991px) {
	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute!important;
    bottom: 17px !important;
    width: 100% !important;
    right: 793px !important;
	}	
}
@media screen and (max-width: 991px) and (min-width: 768px) {
	.main-banner-heading-c {
	position: relative;
    left: 190px!important;
	font-size: 27px;
}
}
@media screen and (max-width: 768px) and (min-width: 320px) {
    .bx-wrapper .bx-pager,
    .bx-wrapper .bx-controls-auto {
        position: absolute!important;
        right: 12%!important;
    }
    .banner-sec-bg {
        min-height: 340px;
    }
	.banner-img-f img {
    padding-top: 0px;
	margin-right: 0px!important;
    margin-left: 0px !important;
	margin: 0px auto!important;
	}
	.banner-pad-in {
	padding: 20px;
	padding-top: 25px;
	}
	.main-banner-heading-c {
	position: relative;
    left: 80px!important;
	font-size: 20px;
	}
}
@media (max-width: 440px) {
	.main-banner-heading-c {
	position: relative;
    left: 0px!important;
	font-size: 20px;
	}
}
/* slider section end here */
/* about us section start here */

.sec-heading {
    padding: 40px 0 40px 0;
}
.sec-heading h1 {
    font-family: "Signika", "Lato", "Trebuchet MS", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    color: #555;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 0px;
}
.sec-heading p {
    font-size: 14px;
    color: #9d9d9d;
    font-weight: bold;
    font-family: "Signika", "Lato", "Trebuchet MS", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    margin: 0px auto;
    text-align: center;
}
.about-us-bg {
    /* background-color: #f8f8f8; */
}
.main-bx {
    background: #eeeeee;
    padding: 25px;
    text-align: center;
	min-height: 235px;
}
.main-bx:hover {
    background: #ff6e49;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
}
.main-bx .icon-s {
    font-size: 38px;
    color: #686868;
}
.main-bx:hover .icon-s {
    color: #fff;
}
.main-bx:hover p {
    color: #fff;
}
.main-bx h5 {
    font-weight: bold;
    font-size: 14px;
    color: #555;
}
.main-bx:hover h5 {
    color: #fff;
}
.sec-col-pad {
    padding-bottom: 20px;
}
.fa-quote-left {
	position: relative;
    top: -6px;
    right: 2px;
}
.fa-quote-right {
	position: relative;
    bottom: 4px;
    left: 2px;
}
/* about us section end here */
/* footer start here */

.bg-footer {
    background-color: #eeeeee;
    padding: 40px 0;
}
.footer-sec-heading h6 {
    color: #444;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
}
.social-icon-circle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: #686868;
    color: #eeeeee;
    text-align: Center;
    display: inline-block;
    line-height: 38px;
}
.social-icon-circle:hover {
    background: #ff6e49;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
}
.social-icon-circle a {
    color: #eeeeee;
    font-size: 18px;
}
.bg-black {
    background: #292929;
    padding: 16px 0;
}
.bg-black p {
    color: #ccc;
    margin-bottom: 0px;
}
.bg-black p a {
    color: #ccc;
}
.bg-black p a:hover {
    color: #ff6e49;
    border-bottom: solid 1px #ff6e49;
}
@media (max-width: 768px) {
    .footer-sec-heading {
        text-align: center;
    }
    .footer-sec-heading .foot-icon {
        text-align: center;
        display: block;
        margin: 0px auto;
        padding-bottom: 10px;
    }
    .bg-black {
        text-align: center;
    }
}
/* footer end here */
/* inner page about us start here */

.sec-banner-about-us img {
    max-width: 100%;
    padding: 40px;
}
.sec-banner-about-us h1 {
    font-family: 'Lora', serif;
    text-align: Center;
    margin-bottom: 0px;
}
.sec-banner-about-us h5 {
    font-family: "Signika", "Lato", "Trebuchet MS", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    text-align: Center;
    color: #939292;
    margin-top: 10px;
}
.sec-banner-about-us h2 {
    font-family: 'Lora', serif;
    margin-top: 60px;
    padding: 0 40px;
    font-size: 34px;
}
.sec-banner-about-us p {
    font-family: 'Lora', serif;
    font-size: 14px;
    padding: 0 40px;
    margin-bottom: 4px;
}
/* inner page about us end here */
/* inner page services section start here */

.products-sub-menus li {
    text-align: center;
    list-style: none;
    padding-bottom: 14px;
    text-decoration: underline;
    color: #484848;
}
.sec-banner-service h1 {
    font-family: 'Lora', serif;
    text-align: Center;
    margin-bottom: 0px;
}
.main-bx-services {
    background: #eeeeee;
    padding: 25px;
    text-align: center;
    min-height: 495px;
}
.main-bx-services:hover {
    background: #ff6e49;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
}
.main-bx-services .icon-s {
    font-size: 38px;
    color: #686868;
}
.main-bx-services:hover .icon-s {
    color: #fff;
}
.main-bx-services:hover p {
    color: #fff;
}
.main-bx-services:hover li {
    color: #fff;
}
.main-bx-services h5 {
    font-weight: bold;
    font-size: 14px;
    color: #555;
    margin-top: 25px;
    margin-bottom: 15px;
}
.main-bx-services:hover h5 {
    color: #fff;
}
/* inner page services section end here */
/* inner page products section start here */

.product-sec-main {
    text-align: center;
}
.product-sec-main h4 {
    color: #484848;
    font-family: "Signika", "Lato", "Trebuchet MS", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    border: solid 1px #484848;
    margin: 6px;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
}
.product-sec-main h4:hover {
    background: #ff6e49;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    color: #fff;
    border: solid 1px #fff;
}
.product-sec-main-a {
    text-align: center;
}
.product-sec-main-a h4 {
    color: #484848;
    font-family: "Signika", "Lato", "Trebuchet MS", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    border: solid 1px #484848;
    margin: 6px;
    font-size: 18px;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    width: 182px;
    margin: 0px auto;
}
.product-sec-main-a h4:hover {
    background: #ff6e49;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    color: #fff;
    border: solid 1px #fff;
}
.prodct-row-pad {
    padding-bottom: 50px;
}
.prodct-bottom-brochure {
    text-align: center;
}
.prodct-bottom-brochure h2 {
    font-family: "Signika", "Lato", "Trebuchet MS", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
.sec-banner-service h5 {
    font-family: "Signika", "Lato", "Trebuchet MS", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    text-align: Center;
    color: #939292;
    margin-top: 0px;
	margin-bottom: 60px;
	padding: 0 40px;
	margin-top: 10px;
}
/* arrow bounce button start here */

.arrow {
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
.arrow-btm {
    border: solid 3px #ff6e49;
    border-radius: 50%;
    padding: 4px;
    color: #ff6e49;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
/* arrow bounce button end here */

.prodct-bottom-brochure .prdct-button {
    background: transparent;
    border: solid 2px #ff6e49;
    padding: 10px 12px;
    color: #ff6e49;
    font-weight: bold;
    font-size: 13px;
}
.prodct-bottom-brochure .prdct-button:hover {
    background: #ff6e49;
    color: #fff;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
}
@media (max-width: 768px) {
    .product-mrt-bottom {
        padding-bottom: 50px;
    }
    .product-sec-main-a h4 {
        width: 100%;
    }
}
/* inner page products section end here */
/* inner page contact us  start here */

.contact-heading h4 {
    background: #ff6e49;
    color: #fff;
    display: inline-block;
    padding: 12px 29px;
    border-radius: 2px;
    font-size: 19px;
    margin-bottom: 35px;
    margin-top: 40px;
}
.contact-button {
    padding: 6px 20px;
    background: transparent;
    color: #ff6e49;
    border: solid 1px #ff6e49;
    border-radius: 2px;
    font-size: 17px;
    margin: 0px auto;
    display: block;
}
.contact-button:hover {
    background: #ff6e49;
    color: #fff;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
}
.contact-button:focus {
    border: solid 1px #ff6e49;
}
.banner-sec-bg input {
    width: 100%;
    border-radius: 2px;
    height: 38px;
	border-radius: 6px;
    border-width: 0px;
    border: solid 1px #ccc;
}
.banner-sec-bg span {
    color: #adadad;
}
.banner-sec-bg textarea {
    width: 100%;
	border: solid 1px #ccc;
    border-radius: 6p
}
.mrt-bottom-contact {
    margin-bottom: 20px;
}
.address-map {
    border: solid 1px #ccc;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}
/* inner page contact us  end here */